

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.actual{
    font-style: italic;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row; /* Asegura que los elementos estén en una fila */
    height: 100vh; /* Hace que el body ocupe toda la altura de la pantalla */
}

/* Estilos para el menú de navegación */
.menu {
    background-color: #5e1111; 
    width: 200px; /* Ancho del menú */
    padding-top: 20px;
    padding-left: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    
    
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin-bottom: 20px;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}



.menu ul li a:hover {
    text-decoration: none;
}

.menu ul:first-of-type {
    margin-bottom: auto;
}

/* Estilo para el contenedor de la imagen */
/* #content {
    flex: 1; 
    padding: 20px; 
} */

.fondo-cine {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen cubra todo el contenedor sin distorsión */
}

